@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #3498db;
  --logo-size: clamp(2.5rem, calc(1rem + 2.5vw), 100rem);
  --nav-link-size: clamp(1.5rem, calc(0.5rem + 1.2vw), 100rem);
  --primary-heading-size: clamp(3.5rem, calc(2.5rem + 3.5vw), 100rem);
  --secondary-heading-size: clamp(1.5rem, calc(1rem + 2.5vw), 100rem);
  --primary-text-size: clamp(1.5rem, calc(0.5rem + 1.5vw), 100rem);
  --secondary-text-size: clamp(1rem, calc(0.5rem + 1vw), 100rem);
  --primary-button-font-size: clamp(1rem, calc(0.5rem + 1vw), 100rem);
  --banner-ext-info-icon-size: clamp(2rem, calc(1.5rem + 1.5vw), 100rem);
  --banner-ext-info-title-size: clamp(2rem, calc(1rem + 1.5vw), 100rem);
  --banner-ext-info-padding: clamp(1rem, calc(1rem + 1.5vw), 100rem);
  --gray-text: #4e4e4e;
  --coupon-heading-size: clamp(2rem, calc(1rem + 2.5vw), 100rem);
  --coupon-code-heading-size: clamp(2rem, calc(1rem + 1.5vw), 100rem);
  --paribahan-ticket-title-size: clamp(1.5rem, calc(0.5rem + 2.2vw), 100rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/* ------------------------------> Reuseable Style <------------------------------ */
a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

section {
  padding-top: clamp(2rem, calc(2.5rem + 4.5vw), 100rem);
}

p {
  font-size: var(--secondary-text-size);
}

.row {
  width: 80%;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: var(--primary-button-font-size);
  font-weight: 700;
  border: 0.2vw solid var(--primary-color);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  padding: 0.5vw 1.5vw;
  border: 0.2vw solid var(--primary-color);
  border-radius: 1vw;
  transition: all 0.3s ease-in-out;
}

.btn-secondary {
  background-color: #fff;
  color: var(--primary-color);
  padding: 0.5vw 1.5vw;
  border: 0.2vw solid var(--primary-color);
  border-radius: 1vw;
  transition: all 0.3s ease-in-out;
}

/* ------------------------------> Start Header Section <------------------------------ */
header {
  width: 100%;
  height: 100dvh;
}

#SeatSnapNavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 999;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seat-snap-logo {
  width: 50%;
}
.seat-snap-logo .logo {
  justify-content: start;
  padding: 0.5vw 0.5vw 0.5vw 0;
}

.seat-snap-logo .logo h3 {
  font-size: var(--logo-size);
}

.snap {
  color: var(--primary-color);
}

.nav-links {
  width: 50%;
}

.nav-links ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5vw;
}

.nav-links ul li {
  position: relative;
  font-size: var(--nav-link-size);
  font-weight: 500;
}

.nav-links ul li a {
  font-size: var(--nav-link-size);
  padding: 0 1.5vw;
}

.nav-links ul li a::before {
  content: "";
  position: absolute;
  bottom: -0.5vw;
  left: 0;
  width: 100%;
  height: 0.2vw;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  border-radius: 1vw;
  transition: transform 0.3s ease-in-out;
}

.nav-links ul li a:hover {
  color: var(--primary-color);
  transition: 0.3s ease-in-out;
}

.nav-links ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

#NavOverlay {
  width: 100%;
  height: 12%;
}

#SeatSnapBanner {
  width: 100%;
  height: 88%;
  padding-top: 1vw;
}

.banner-container {
  position: relative;
  height: 100%;
}

.banner-cover-image {
  height: 90%;
  background-image: url("../assets/bus-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 2vw;
}

.image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2vw;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.banner-title {
  font-size: var(--primary-heading-size);
  color: #efefef;
}

.banner-description {
  font-size: var(--primary-text-size);
  color: #efefef;
}

.banner-btn-container {
  margin-top: 1.5vw;
}

.ext-info {
  position: absolute;
  left: 0;
  bottom: 1%;
  width: 100%;
  z-index: 99;
}

.info-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

.info-card {
  display: flex;
  align-items: center;
  gap: 1vw;
  background-color: #fff;
  padding: var(--banner-ext-info-padding);
  border-bottom: 0.5vw solid var(--primary-color);
  border-radius: 2vw;
}

.info-logo i {
  font-size: var(--banner-ext-info-icon-size);
}

.info-content {
  padding-left: 0.3vw;
}

.info-content .info-title {
  font-size: var(--banner-ext-info-title-size);
}

.info-content .info-description {
  font-size: var(--secondary-text-size);
  color: var(--gray-text);
}
/* ------------------------------> End Header Section <------------------------------ */

/* ------------------------------> Start Offer Section <------------------------------ */
.offer-title {
  text-align: center;
  padding-bottom: 2vw;
}

.offer-title .title {
  font-size: var(--secondary-heading-size);
}

.offer-card-container {
  display: flex;
  gap: 2vw;
  padding-top: 1vw;
}

.coupon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.coupon-discount {
  width: 70%;
  padding: 2vw;
  border-radius: 0.8vw;
}

.coupon-divider {
  position: absolute;
  top: 0;
  left: 70%;
  width: 0.1vw;
  height: 100%;
  border: 0.1vw dashed #fff;
}

.coupon-code {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.8vw;
}

.coupon-discount h3 {
  font-size: var(--coupon-heading-size);
}

.coupon-code h4 {
  font-size: var(--coupon-code-heading-size);
}

.coupon-discount p,
.coupon-code p {
  font-size: var(--secondary-text-size);
}

.coupon-discount p:last-child,
.coupon-code p {
  color: var(--gray-text);
}

.coupon-20 .coupon-discount {
  background-color: #f7b731;
}

.coupon-20 .coupon-code {
  background-color: #f7b731;
}

.coupon-30 .coupon-discount {
  background-color: #20bf6b;
}

.coupon-30 .coupon-code {
  background-color: #20bf6b;
}

.offer-btn-container {
  text-align: center;
  padding-top: 3vw;
}
/* ------------------------------> End Offer Section <------------------------------ */

/* ------------------------------> Start Book Now Section <------------------------------ */
.book-now-section-container {
  width: 100%;
  background-color: #f1f1f1;
  border-top: 0.3vw solid var(--primary-color);
  border-radius: 7vw 7vw 0 0;
}

.book-now-title-and-description {
  text-align: center;
  padding-top: clamp(2rem, calc(2.5rem + 4.5vw), 100rem);
}

.book-now-title-and-description h2 {
  font-size: var(--secondary-heading-size);
}

.ticket-info-container {
  padding-top: 2.5vw;
}

.ticket-info-container .ticket-card {
  position: relative;
  display: flex;
}

.ticket-card .info {
  width: 75%;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1vw;
  padding: 2vw;
  border-radius: 2vw;
}

.ticket-card .info .paribahan-name {
  grid-column: 1 / span 4;
}

.ticket-card .info .paribahan-name h5 {
  font-size: var(--paribahan-ticket-title-size);
}

.ticket-card .info .paribahan-name p {
  font-size: var(--secondary-text-size);
  color: var(--gray-text);
}

.ticket-card .info .seat-available {
  grid-column: 5 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498db1a;
  border-radius: .5vw;
}

.ticket-card .info .seat-available p {
  color: var(--primary-color);
  font-size: var(--primary-text-size);
  font-weight: 500;
}

.ticket-card .info .destination {
  grid-column: 1 / span 6;
  background-color: #f1f1f1;
  padding: 1vw;
  border-radius: .5vw;
}

.destination .info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 0;
  border-bottom: 0.2vw dashed #bfbfbf;
}

.destination .info-row:last-child {
  border: none;
}

.destination .info-row p:first-child {
  color: var(--gray-text);
}

.destination .info-row p:last-child {
  font-weight: 500;
}

.destination .going-through .card {
  background-color: #bfbfbf;
  padding: 0.7vw;
  border-radius: 0.5vw;
}

.destination .going-through .card p {
  color: #000;
  font-weight: 400;
}

.ticket-card .divider {
  position: absolute;
  top: 50%;
  left: 75%;
  width: 0.1vw;
  height: 85%;
  transform: translateY(-50%);
  border: 0.1vw dashed var(--primary-color);
}

.ticket-card .price {
  width: 25%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
}

.ticket-card .price h6 {
  font-size: var(--paribahan-ticket-title-size);
}

.ticket-card .price p {
  font-weight: 500;
}

/* ------------------------------> End Book Now Section <------------------------------ */
